* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    background-color: chartreuse;
}
.menu {
    color: white;
}
header nav {
    font-size: 30px;
    float: right;
    font-weight: bolder;
}
#banner img{
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#novidades, #destaques {
    background-color: #3CD1DB;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    margin: 20px;
  }
#destaques img {
    margin-right: auto;
}
#novidades img{
    margin-left: auto;

}
.texto {
    float: left;

}
.carousel-item {
    margin: 10px;
}
